* {
    color: white;

}

html, body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to right, #ffffff, #eeeeee);

}

textarea {
    background-color: #333333;
}

.sendJson {

    background-color: #4CAF50;
    width:80px;
    height:80px;

    text-align: center;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: 0px 0px 5px #888888;
}
.sendJsonBlue {
    width:80px;
    height:80px;

    text-align: center;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: 0px 0px 5px #888888;
    background-color: blue;
}
.sendJsonBlue:hover {
    background-color: darkblue;
}
.sendJsonRed {
    width:80px;
    height:80px;

    text-align: center;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: 0px 0px 5px #888888;
    background-color: red;
}
.sendJsonRed:hover {
    background-color: darkred;
}
.btn-group button {
    background-color: #4CAF50;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.lineVertical {
    position: relative;
    z-index: 0;
    border-left: 1px solid black;
    height: 1000px;
    width: 0%;
}
.lineHorizontal {

    position: relative;
    z-index: 0;
    border-bottom: 1px solid black;
    width: 1000px;
    height: 0%;
}

.pixyImg {
    color: black;
    position: absolute;
    border: 1px solid black;
    background-color: #f4f4f4;
}

.fieldPicture{
    width: 100%;
    height: 90%;
    background-image: url("img/NasaField.png");
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
    border: 1px solid black;
}

.sidenavBar {
    position:absolute;
    height: 100%;
    width:10px;
    background-color: #222222;
}
.sidenav {
    position:absolute;
    height: 100%;
    width:190px;
    margin-left: 10px;
    background-image: linear-gradient(90deg, #222222, #333333);
    background-repeat: no-repeat;

}
.sidenavBreak {
    height: 35px;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    border: 0px;
    z-index: 2;
}
.sidenavButton {
    width: 100%;
    height: 35px;
    text-align: left;
    padding-left: 50px;
    font-size: 20px;
    border: 0px;
    z-index: 2;
    background-color:transparent;
}
.sidenavButton:hover {
    background-color: #222222;
}

.mainPage {
    position: relative;
    margin-left: 200px;
    height: 100%;
}
.hero-text {
    text-align: center;
    position: absolute;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    width:100%;
}

.codeBox {
    float: left;
    margin: 1%;
    margin-left: 45px;

    width:45%;
    height:25%;
}


.codeText {
    width: 100%;
    padding: 1px;
    height: 80%;
}


button {
    border: 1px solid black;

    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;

}

button:hover {
    background-color: #3e8e41;
}

header{
    width: 100%;
    background-color: #333333;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0px 0px 5px #888888;
}


#map {
    float: left;
    width: 49%;
    height: 100%;
}
#pixyView {
    float: right;
    width: 49%;
    height: 100%;
}

#pixyViewBox {
    background-color: #333333;
    border: 1px solid black;
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: relative;
}


#feedbackBox {
    margin: 45px;
    height: 50%;
}
#moveButtons {
    float: right;
    margin: 1%;
    margin-right: 45px;
}
#controlAugur {
    float: right;
    margin: 1%;
    margin-right: 50px;
}
#autoButtons {
    float: right;
    margin: 1%;
    margin-right: 45px;
}

#teamHeroPic {
    width: 100%;
    height: 100%;
    background-image: url("team participation award dark.jpg");
    background-size: cover;
    background-position: center;
    background-color: #333333;
}
#mainFrame {

}